{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load thumbnail %}
{% load humanize %}
{% load hitcount_tags %}

{% block title %}{% endblock %}

{% block content %}
    <div class="hero-slider-with-category-container mt-35 mb-35">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-12">
					<!--=======  slider left category  =======-->

					<div class="hero-side-category">
						<!-- Category Toggle Wrap -->
						<div class="category-toggle-wrap">
							<!-- Category Toggle -->
							<button class="category-toggle"> <span class="arrow_carrot-right_alt2 mr-2"></span> All Categories</button>
						</div>

						<!-- Category Menu -->
						<nav class="category-menu">
							<ul>
								<li><a href="{% url 'product_search:product_filter' %}?category=Vegetables">Vegetables</a></li>
								<li><a href="{% url 'product_search:product_filter' %}?category=Fruits">Fruits</a></li>
								<li><a href="{% url 'product_search:product_filter' %}?category=Grains">Grains</a></li>
								<li><a href="{% url 'product_search:product_filter' %}?category=Seafood">Seafood</a></li>
								<li><a href="{% url 'product_search:product_filter' %}?category=Spices">Spices</a></li>
								<li><a href="{% url 'product_search:product_filter' %}?category=Meats">Meats</a></li>
								<li><a href="{% url 'product_search:product_filter' %}?category=Oil">Cooking Oil</a></li>
								<li><a href="{% url 'product_search:product_filter' %}?category=Honey">Honey</a></li>
								<li class="hidden"><a href="{% url 'product_search:product_filter' %}?category=Eggs">Eggs</a></li>
								<li class="hidden"><a href="{% url 'product_search:product_filter' %}?category=Others">Others</a></li>
								<li><a href="#" id="more-btn"><span class="icon_plus_alt2"></span> More Categories</a></li>
							</ul>
						</nav>
					</div>

					<!--=======  End of slider left category  =======-->
				</div>

				<div class="col-lg-9 col-md-12">
					<!--=======  slider container  =======-->

					<div class="slider-container">
                        <!--=======  Slider area  =======-->

                        <div class="hero-slider-two">

                            <!--=======  Hero slider item  =======-->

                            <div class="hero-slider-item slider-bg-4">
                                <div class="slider-content">
                                    <h1>Fresh<span> & Cheap</span></h1>
                                    <h1 class="change-text">Now in <span> Season</span></h1>

                                    <p><img src="{% static 'assets/images/icon-slider.png' %}" alt=""> <span>save up to 10%</span></p>
                                    <p><img src="{% static 'assets/images/icon-slider.png' %}" alt=""> <span>Buy nice food</span></p>
                                    <p><img src="{% static 'assets/images/icon-slider.png' %}" alt=""> <span>From trusted farmers</span></p>

                                    <a href="{% url 'home:ads_list' %}" class="slider-two-btn mt-20">start buying</a>
                                </div>
                            </div>

                            <!--=======  End of Hero slider item  =======-->

                        </div>

                        <!--=======  End of Slider area  =======-->
					</div>

					<!--=======  End of slider container  =======-->
				</div>
			</div>
		</div>
	</div>

	<div class="slider multisale-slider mb-35">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!--=======  multisale  slider section title  =======-->

					<div class="section-title">
						<h3>deal of the day</h3>
					</div>

					<!--=======  End of multisale slider section title  =======-->
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<!--=======  multi sale slider wrapper  =======-->

					<div class="multisale-slider-wrapper">
						<!--=======  single multisale slider product  =======-->
                        {% for latest in latests %}
						<div class="gf-product multisale-slider-product">
							<div class="image">
								<a href="{{ latest.get_absolute_url }}">
									<span class="{{ latest.get_label_display }}">{{ latest.get_status_display }}</span>
                                    {% if latest.delivery %}
                                        <span class="days">Del:{{ latest.delivery }}</span>
                                    {% endif %}
                                    {% for images in latest.get_second_image %}
                                        {% thumbnail images.product_image "260x194" crop="10px 10px"  as im %}
                                                <img  style="margin:{{ im|margin:"260x194" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" class="img-fluid "  />
                                        {% endthumbnail %}
                                    {% endfor %}
								</a>
								<div class="product-hover-icons" id = "part{{ latest.id }}">
                                    {% if request.user.is_authenticated %}
                                        {% if request.user in latest.favourite.all %}
                                            {% csrf_token %}
                                            <a href="#" id = "cart" data-id="{{ latest.id }}"  data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                                            <a href="#" id = "wishlist" data-id="{{ latest.id }}"  data-tooltip="Add to wishlist"> <span class="icon_heart"></span> </a>

                                        {% else %}
                                            <a href="#" id = "cart" data-id="{{ latest.id }}"  data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                                            <a href="#" id = "wishlist" data-id="{{ latest.id }}"  data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                                        {% endif %}
                                    {% else %}
                                        <a href="{{ ad.get_add_to_cart_url }}"  data-tooltip="Add to cart"> <span class="icon_cart_alt"></span></a>
                                        <a href="{% url 'home:favourite_ad' id=latest.id %}" data-tooltip="Add to wishlist"> <span class="icon_heart_alt"></span> </a>
                                    {% endif %}

								</div>
							</div>
							<div class="product-content">
								<div class="product-categories">
									<a>{{ latest.category}}</a>
								</div>
								<h3 class="product-title"><a href="{{ latest.get_absolute_url }}">{{ latest.title }}</a></h3>
								<div class="price-box">
                                     {% if latest.discount_price %}
                                      <span class="discounted-price">₦{{ latest.discount_price|intcomma}}</span>
                                      <span class="main-price">₦{{ latest.price|intcomma}}</span>
                                     {% else %}
                                      <span class="discounted-price">₦{{ latest.price|intcomma}}</span>
                                    {% endif %}
								</div>
							</div>

						</div>
                        {% endfor %}
					</div>

					<!--=======  End of multi sale slider wrapper  =======-->
				</div>
			</div>
		</div>
	</div>

	<div class="featured-product-image-gallery mb-80 pt-120 section-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!--=======  gallery product container  =======-->
					<div class="gallery-product-container">
						<div class="row no-gutters">
						</div>
					</div>

					<!--=======  End of gallery product container  =======-->

				</div>
			</div>
		</div>
	</div>

    <div class="slider multisale-slider mb-35">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!--=======  multisale  slider section title  =======-->

					<div class="section-title">
						<h3>Tubers,Meats,Cooking Oils and Others</h3>
					</div>

					<!--=======  End of multisale slider section title  =======-->
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<!--=======  multi sale slider wrapper  =======-->

					<div class="multisale-slider-wrapper">
						<!--=======  single multisale slider product  =======-->
                        {% for ad in ads %}
						<div class="gf-product multisale-slider-product">
							<div class="image">
								<a href="{{ ad.get_absolute_url }}">
									<span class="{{ ad.get_label_display }}">{{ ad.get_status_display }}</span>
                                    {% if ad.delivery %}
                                        <span class="days">Del:{{ ad.delivery }}</span>
                                    {% endif %}
                                    {% for images in ad.get_second_image %}
                                        {% thumbnail images.product_image "260x194" crop="10px 10px"  as im %}
                                                <img  style="margin:{{ im|margin:"260x194" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" class="img-fluid "  />
                                        {% endthumbnail %}
                                    {% endfor %}
								</a>
								<div class="product-hover-icons" id = "part{{ ad.id }}">
									{% include 'home/special_section.html' %}
								</div>
							</div>
							<div class="product-content">
								<div class="product-categories">
									<a>{{ ad.category}}</a>
								</div>
								<h3 class="product-title"><a href="{{ ad.get_absolute_url }}">{{ ad.title }}</a></h3>
								<div class="price-box">
                                    {% if ad.discount_price %}
                                      <span class="discounted-price">₦{{ ad.discount_price|intcomma}}</span>
                                      <span class="main-price">₦{{ ad.discount_price|intcomma}}</span>
                                     {% else %}
                                      <span class="discounted-price">₦{{ ad.price|intcomma}}</span>
                                    {% endif %}
								</div>
							</div>

						</div>
                        {% endfor %}
					</div>

					<!--=======  End of multi sale slider wrapper  =======-->
				</div>
			</div>
		</div>
	</div>

    <div class="slider multisale-slider mb-35">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!--=======  multisale  slider section title  =======-->

					<div class="section-title">
						<h3>Vegetables</h3>
					</div>

					<!--=======  End of multisale slider section title  =======-->
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<!--=======  multi sale slider wrapper  =======-->

					<div class="multisale-slider-wrapper">
						<!--=======  single multisale slider product  =======-->
                        {% for ad in ads_veg %}
						<div class="gf-product multisale-slider-product">
							<div class="image">
								<a href="{{ ad.get_absolute_url }}">
									<span class="{{ ad.get_label_display }}">{{ ad.get_status_display }}</span>
                                    {% if ad.delivery %}
                                        <span class="days">Del:{{ ad.delivery }}</span>
                                    {% endif %}
                                    {% for images in ad.get_second_image %}
                                        {% thumbnail images.product_image "260x194" crop="10px 10px"  as im %}
                                                <img  style="margin:{{ im|margin:"260x194" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" class="img-fluid "  />
                                        {% endthumbnail %}
                                    {% endfor %}
								</a>
								<div class="product-hover-icons" id = "part{{ ad.id }}">
									{% include 'home/special_section.html' %}
								</div>
							</div>
							<div class="product-content">
								<div class="product-categories">
									<a>{{ ad.category}}</a>
								</div>
								<h3 class="product-title"><a href="{{ ad.get_absolute_url }}">{{ ad.title }}</a></h3>
								<div class="price-box">
                                    {% if ad.discount_price %}
                                      <span class="discounted-price">₦{{ ad.discount_price|intcomma}}</span>
                                      <span class="main-price">₦{{ ad.discount_price|intcomma}}</span>
                                     {% else %}
                                      <span class="discounted-price">₦{{ ad.price|intcomma}}</span>
                                    {% endif %}
								</div>
							</div>

						</div>
                        {% endfor %}
					</div>

					<!--=======  End of multi sale slider wrapper  =======-->
				</div>
			</div>
		</div>
	</div>

    <div class="slider multisale-slider mb-35">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!--=======  multisale  slider section title  =======-->

					<div class="section-title">
						<h3>Fruits</h3>
					</div>

					<!--=======  End of multisale slider section title  =======-->
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<!--=======  multi sale slider wrapper  =======-->

					<div class="multisale-slider-wrapper">
						<!--=======  single multisale slider product  =======-->
                        {% for ad in ads_fruits %}
						<div class="gf-product multisale-slider-product">
							<div class="image">
								<a href="{{ ad.get_absolute_url }}">
									<span class="{{ ad.get_label_display }}">{{ ad.get_status_display }}</span>
                                    {% if ad.delivery %}
                                        <span class="days">Del:{{ ad.delivery }}</span>
                                    {% endif %}
                                    {% for images in ad.get_second_image %}
                                        {% thumbnail images.product_image "260x194" crop="10px 10px"  as im %}
                                                <img  style="margin:{{ im|margin:"260x194" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" class="img-fluid "  />
                                        {% endthumbnail %}
                                    {% endfor %}
								</a>
								<div class="product-hover-icons" id = "part{{ ad.id }}">
									{% include 'home/special_section.html' %}
								</div>
							</div>
							<div class="product-content">
								<div class="product-categories">
									<a>{{ ad.category}}</a>
								</div>
								<h3 class="product-title"><a href="{{ ad.get_absolute_url }}">{{ ad.title }}</a></h3>
								<div class="price-box">
                                    {% if ad.discount_price %}
                                      <span class="discounted-price">₦{{ ad.discount_price|intcomma}}</span>
                                      <span class="main-price">₦{{ ad.discount_price|intcomma}}</span>
                                     {% else %}
                                      <span class="discounted-price">₦{{ ad.price|intcomma}}</span>
                                    {% endif %}
								</div>
							</div>

						</div>
                        {% endfor %}
					</div>

					<!--=======  End of multi sale slider wrapper  =======-->
				</div>
			</div>
		</div>
	</div>


    <div class="slider multisale-slider mb-35">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!--=======  multisale  slider section title  =======-->

					<div class="section-title">
						<h3>Grains</h3>
					</div>

					<!--=======  End of multisale slider section title  =======-->
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<!--=======  multi sale slider wrapper  =======-->

					<div class="multisale-slider-wrapper">
						<!--=======  single multisale slider product  =======-->
                        {% for ad in ads_grains %}
						<div class="gf-product multisale-slider-product">
							<div class="image">
								<a href="{{ ad.get_absolute_url }}">
									<span class="{{ ad.get_label_display }}">{{ ad.get_status_display }}</span>
                                    {% if ad.delivery %}
                                        <span class="days">Del:{{ ad.delivery }}</span>
                                    {% endif %}
                                    {% for images in ad.get_second_image %}
                                        {% thumbnail images.product_image "260x194" crop="10px 10px"  as im %}
                                                <img  style="margin:{{ im|margin:"260x194" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" class="img-fluid "  />
                                        {% endthumbnail %}
                                    {% endfor %}
								</a>
								<div class="product-hover-icons" id = "part{{ ad.id }}">
									{% include 'home/special_section.html' %}
								</div>
							</div>
							<div class="product-content">
								<div class="product-categories">
									<a>{{ ad.category}}</a>
								</div>
								<h3 class="product-title"><a href="{{ ad.get_absolute_url }}">{{ ad.title }}</a></h3>
								<div class="price-box">
                                    {% if ad.discount_price %}
                                      <span class="discounted-price">₦{{ ad.discount_price|intcomma}}</span>
                                      <span class="main-price">₦{{ ad.discount_price|intcomma}}</span>
                                     {% else %}
                                      <span class="discounted-price">₦{{ ad.price|intcomma}}</span>
                                    {% endif %}
								</div>
							</div>

						</div>
                        {% endfor %}
					</div>

					<!--=======  End of multi sale slider wrapper  =======-->
				</div>
			</div>
		</div>
	</div>

    <div class="slider multisale-slider mb-35">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!--=======  multisale  slider section title  =======-->

					<div class="section-title">
						<h3>Seafoods</h3>
					</div>

					<!--=======  End of multisale slider section title  =======-->
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<!--=======  multi sale slider wrapper  =======-->

					<div class="multisale-slider-wrapper">
						<!--=======  single multisale slider product  =======-->
                        {% for ad in ads_seafood %}
						<div class="gf-product multisale-slider-product">
							<div class="image">
								<a href="{{ ad.get_absolute_url }}">
									<span class="{{ ad.get_label_display }}">{{ ad.get_status_display }}</span>
                                    {% if ad.delivery %}
                                        <span class="days">Del:{{ ad.delivery }}</span>
                                    {% endif %}
                                    {% for images in ad.get_second_image %}
                                        {% thumbnail images.product_image "260x194" crop="10px 10px"  as im %}
                                                <img  style="margin:{{ im|margin:"260x194" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" class="img-fluid "  />
                                        {% endthumbnail %}
                                    {% endfor %}
								</a>
								<div class="product-hover-icons" id = "part{{ ad.id }}">
									{% include 'home/special_section.html' %}
								</div>
							</div>
							<div class="product-content">
								<div class="product-categories">
									<a>{{ ad.category}}</a>
								</div>
								<h3 class="product-title"><a href="{{ ad.get_absolute_url }}">{{ ad.title }}</a></h3>
								<div class="price-box">
                                    {% if ad.discount_price %}
                                      <span class="discounted-price">₦{{ ad.discount_price|intcomma}}</span>
                                      <span class="main-price">₦{{ ad.discount_price|intcomma}}</span>
                                     {% else %}
                                      <span class="discounted-price">₦{{ ad.price|intcomma}}</span>
                                    {% endif %}
								</div>
							</div>

						</div>
                        {% endfor %}
					</div>

					<!--=======  End of multi sale slider wrapper  =======-->
				</div>
			</div>
		</div>
	</div>

    <div class="slider multisale-slider mb-35">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<!--=======  multisale  slider section title  =======-->

					<div class="section-title">
						<h3>Spices</h3>
					</div>

					<!--=======  End of multisale slider section title  =======-->
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<!--=======  multi sale slider wrapper  =======-->

					<div class="multisale-slider-wrapper">
						<!--=======  single multisale slider product  =======-->
                        {% for ad in ads_spices %}
						<div class="gf-product multisale-slider-product">
							<div class="image">
								<a href="{{ ad.get_absolute_url }}">
									<span class="{{ ad.get_label_display }}">{{ ad.get_status_display }}</span>
                                    {% if ad.delivery %}
                                        <span class="days">Del:{{ ad.delivery }}</span>
                                    {% endif %}
                                    {% for images in ad.get_second_image %}
                                        {% thumbnail images.product_image "260x194" crop="10px 10px"  as im %}
                                                <img  style="margin:{{ im|margin:"260x194" }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" class="img-fluid "  />
                                        {% endthumbnail %}
                                    {% endfor %}
								</a>
								<div class="product-hover-icons" id = "part{{ ad.id }}">
									{% include 'home/special_section.html' %}
								</div>
							</div>
							<div class="product-content">
								<div class="product-categories">
									<a>{{ ad.category}}</a>
								</div>
								<h3 class="product-title"><a href="{{ ad.get_absolute_url }}">{{ ad.title }}</a></h3>
								<div class="price-box">
                                    {% if ad.discount_price %}
                                      <span class="discounted-price">₦{{ ad.discount_price|intcomma}}</span>
                                      <span class="main-price">₦{{ ad.discount_price|intcomma}}</span>
                                     {% else %}
                                      <span class="discounted-price">₦{{ ad.price|intcomma}}</span>
                                    {% endif %}
								</div>
							</div>

						</div>
                        {% endfor %}
					</div>

					<!--=======  End of multi sale slider wrapper  =======-->
				</div>
			</div>
            <br>
            <div class="row">
                <a href="{% url 'home:ads_list' %}" class="slider-btn" style="margin-left: 40%">SHOW ALL</a>
            </div>
		</div>
	</div>

     {% include 'home/affiliate.html' %}

    <br>


{% endblock %}