{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="breadcrumb-area mb-50">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumb-container">
                        <ul>
                            <li><a href="{% url 'home:home' %}"><i class="fa fa-home"></i> Home</a></li>
                            <li class="active">Reset Password</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<div class="page-content mb-50">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
					<!-- Login Form s-->
                   {% if validlink %}
					<form method="post" action=".">
                        {% csrf_token %}
						<div class="login-form">
							<h2 class="login-title" style="text-align:center;">Reset Password</h2>

							<div class="row">
                                <div class="col-12 mb-20">
									{% bootstrap_field form.new_password1 %}
								</div>
								<div class="col-md-12 col-12 mb-20">
									{% bootstrap_field form.new_password2 %}
								</div>

								<div class="col-md-12">
									<button class="register-button mt-0">Change my password</button>
								</div>

							</div>
						</div>

					</form>
                    {% else %}
                        <div class="login-form">
                            <p style="text-align:center;">The password reset link was invalid, possibly because it has
                            already been used. Please request a new password reset.</p>
                        </div>
                    {% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
