{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="page-content mb-50">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">

                    <div class="login-form">
                        <h2 class="login-title" style="text-align:center;">Reset Done</h2>
                        <p>We've emailed you instructions for setting your password.</p>
                        <p>If you don't receive an email, please make sure you've entered the
                        address you registered with.</p>
                    </div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}