{% extends "base_admin.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}

{% block title %}Password change done{% endblock %}

{% block content %}
   <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
      <div class="col-6 align-self-center">
        <h3>Account Settings</h3>
      </div>
      <div class="col-6 text-right font-12"> <a href="{% url 'home:home' %}">Home</a>  &gt;  Password Change Confirm</div>
      <div class="">
        <button class="right-side-toggle waves-effect waves-light bg-primary btn btn-circle btn-sm pull-right ml-10"><i class="ti-settings text-white"></i></button>
      </div>
    </div>
       <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->

   <div class="row">

      <div class="col-lg-4 col-md-6 col-sm-12 userprofile">
        <div class="p-relative"> <img src="{% static 'images/profile/edit-cover-image.jpg' %}" class="img-fluid" alt="" title="">
          <div class="userpic"> <img src="../assets/images/profile/profile.jpg" class="userpicimg" alt="" title="" > </div>
          <div class="card">
            <div class="card-body"> </div>
          </div>
        </div>
      </div>


      <div class="col-lg-8 col-md-6 col-sm-12">

        <div class="card">
          <div class="card-body">
            <h2 class="font-20 text-blue">Password Change Done</h2>
            <div class="row">
              <div class="col-md-12">
                <h2 style="text-align:center;">Your password has been successfully changed</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
       </div>

      </div>
  </div>
{% endblock %}