{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}Reset your password{% endblock %}

{% block content %}
      <div class="breadcrumb-area mb-50">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumb-container">
                        <ul>
                            <li><a href="{% url 'home:home' %}"><i class="fa fa-home"></i> Home</a></li>
                            <li class="active">Forget Password</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<div class="page-content mb-50">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
					<!-- Login Form s-->
					<form method="post" action=".">
                        {% csrf_token %}
						<div class="login-form">
							<h2 class="login-title" style="text-align:center;">Forget Password</h2>
                            <p style="text-align:center;">Enter your e-mail address to obtain a new password</p>

							<div class="row">
								<div class="col-md-12 col-12 mb-20">
									{% bootstrap_field form.email %}
								</div>
								<div class="col-md-12">
									<button class="register-button mt-0">Reset Password</button>
								</div>

							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

