<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% load django_bootstrap5 %}
{% load thumbnail %}
{% load humanize %}
<html lang="en" class="h-full">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Bunchfood{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extra_head %}{% endblock %}
    <link rel="icon" href="{% static 'assets/images/favicon.png' %}">

    <script src="https://cdn.tailwindcss.com"></script>

    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/elegent.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/plugins.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/helper.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script src="{% static 'assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body class="min-h-full bg-gray-50 text-gray-900 flex flex-col">
    {% include 'partials/navbar.html' %}

    <main class="flex-1">
        <div class="max-w-6xl mx-auto px-4 py-8 space-y-6">
            {% include 'partials/messages.html' %}
            {% block content %}{% endblock %}
        </div>
    </main>

    {% include 'partials/footer.html' %}

    <a href="#" class="scroll-top"></a>

    <script src="{% static 'assets/js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/voice_assistant.js' %}"></script>
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    <script src="{% static 'hitcount/hitcount-jquery.js' %}"></script>
    <script type="text/javascript">
      document.querySelectorAll('[data-alert-dismiss]').forEach((button) => {
        button.addEventListener('click', () => {
          const alert = button.closest('[data-alert]');
          if (alert) {
            alert.remove();
          }
        });
      });

      setTimeout(() => {
        document.querySelectorAll('[data-alert]').forEach((alert) => alert.remove());
      }, 3000);

      $(document).ready(function(event){
        $('#delete').click(function(){
          return confirm("Are you sure to delete this post?");
        });

        $('.reply-btn').click(function() {
          $(this).parent().parent().next('.replied-comments').fadeToggle();
        });

        $(document).on('submit', '.comment-form', function(event){
          event.preventDefault();
          console.log($(this).serialize());
          $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize(),
            dataType: 'json',
            success: function(response) {
              $('.main-comment-section').html(response['form']);
              $('textarea').val('');
              $('.reply-btn').click(function() {
                $(this).parent().parent().next('.replied-comments').fadeToggle();
                $('textarea').val('');
              });
            },
            error: function(rs, e) {
              console.log(rs.responseText);
            },
          });
        });

        $(document).on('submit', '.reply-form', function(event){
          event.preventDefault();
          console.log($(this).serialize());
          $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize(),
            dataType: 'json',
            success: function(response) {
              $('.main-comment-section').html(response['form']);
              $('textarea').val('');
              $('.reply-btn').click(function() {
                $(this).parent().parent().next('.replied-comments').fadeToggle();
                $('textarea').val('');
              });
            },
            error: function(rs, e) {
              console.log(rs.responseText);
            },
          });
        });

        $(document).on('click', '#wishlist', function(event){
          event.preventDefault();
          var pk = $(this).data('id');
          var check = pk;
          $.ajax({
            type: 'POST',
            url: '{% url 'home:favourite_ads'%}',
            data: {'id':pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType: 'json',
            success: function(response){
              $('#part' + check).html(response['form']);
            },
            error: function(rs, e){
              console.log(rs.responseText);
            },
          });
        });

        $(document).on('click', '#cart', function(event){
          event.preventDefault();
          var pk = $(this).data('id');
          var check = pk;
          $.ajax({
            type: 'POST',
            url: '{% url 'cart:add_to_cart_ajax'%}',
            data: {'id':pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
            dataType: 'json',
            success: function(data){
              if (data['status'] == 'ok') {
                alert('This item quantity was updated');
                $('#part' + check).html(data['ok']);
              } else if (data['status'] == 'ook') {
                alert('This item was added to your cart');
                $('#part' + check).html(data['ok']);
              } else if (data['status'] == 'ko') {
                alert('This item was added to your cart');
                $('#part' + check).html(data['ok']);
              }
            },
            error: function(rs, e){
              console.log(rs.responseText);
            },
          });
        });
      });
    </script>

    {% block script %}{% endblock %}
    {% block favourite %}{% endblock %}
    {% block extra_scripts %}{% endblock %}
</body>
</html>
