{% load static %}

<aside class="left-sidebar">
<!-- Sidebar scroll-->
<div class="scroll-sidebar">
  <!-- Sidebar navigation-->
  <nav class="sidebar-nav">
    <ul id="sidebarnav">
      <li> <a class="waves-effect waves-dark" aria-expanded="false"><i class="mdi mdi-cart-outline mr-10"></i><span class="hide-menu">Bunchfood Admin</span></a></li>
      {% if user.is_superuser %}
          <li> <a class="waves-effect waves-dark" href="{% url "home:dashboard" %}"> <i class="ti-angle-right"></i> <span class="hide-menu">Dashboard</span></a></li>
          <li> <a class="waves-effect waves-dark" href="{% url "home:shop_analytics" %}"> <i class="ti-angle-right"></i> <span class="hide-menu">Shop Analytics</span></a></li>
          <li> <a class="waves-effect waves-dark" href="{% url 'admin:index' %}"> <i class="ti-angle-right"></i> <span class="hide-menu">Admin</span></a></li>
          <li> <a class="waves-effect waves-dark" href="{% url "order:order_all" %}"> <i class="ti-angle-right"></i> <span class="hide-menu"> Order Status </span></a></li>
          <li> <a class="waves-effect waves-dark" href="{% url "order:order_owner" %}"> <i class="ti-angle-right"></i> <span class="hide-menu"> My Orders </span></a></li>
          <li><a class="waves-effect waves-dark" href="{% url "home:allads_list" %}"> <i class="ti-angle-right"></i> <span class="hide-menu">Product List </span></a></li>
          <li><a class="waves-effect waves-dark" href="{% url "foodcreate:post" %}"> <i class="ti-angle-right"></i> <span class="hide-menu">Add Product</span></a></li>
          <li><a class="waves-effect waves-dark" href="{% url "home:customer_list" %}"> <i class="ti-angle-right"></i> <span class="hide-menu">View Customers</span></a></li>
      {% else %}
          <li> <a class="waves-effect waves-dark" href="{% url "order:order_owner" %}"> <i class="ti-angle-right"></i> <span class="hide-menu"> My Orders </span></a></li>
          <li> <a class="waves-effect waves-dark" href="{% url "home:shop_analytics" %}"> <i class="ti-angle-right"></i> <span class="hide-menu">Analytics</span></a></li>
      {% endif %}
    </ul>
  </nav>
  <!-- End Sidebar navigation -->
</div>
<!-- End Sidebar scroll-->
</aside>
