{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load thumbnail %}

{% block title %}About Us{% endblock %}


{% block content %}
    <div class="breadcrumb-area mb-50">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumb-container">
                        <ul>
                            <li><a href="{% url 'home:home' %}"><i class="fa fa-home"></i> Home</a></li>
                            <li class="active">About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<div class="page-content mb-50">

		<!--=====  End of google map container  ======-->

		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-4 mb-xs-35">
					<!--=======  contact page side content  =======-->

					<div class="contact-page-side-content">
						<h3 class="contact-page-title">Get in touch with us</h3>

						<div class="single-contact-block">
							<h4><img src="{% static 'assets/images/icons/contact-icon2.png ' %}" alt=""> Phone</h4>
							<p>Hotline: +234 806 362 7547</p>
						</div>

						<!--=======  End of single contact block  =======-->

						<!--=======  single contact block  =======-->

						<div class="single-contact-block">
							<h4><img src="{% static 'assets/images/icons/contact-icon3.png ' %}" alt=""> Email</h4>
							<p>bunchfood@gmail.com</p>
						</div>
					</div>

					<!--=======  End of contact page side content  =======-->

				</div>
				<div class="col-lg-9 col-md-8 pl-100 pl-xs-15">
					<!--=======  contact form content  =======-->

					<div class="contact-form-content">
						<h3 class="contact-page-title">About Us</h3>

						<div class="contact-form">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                            dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
                            voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                            inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                            ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                            magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                            dolorem.
                        </p>
						</div>
						<p class="form-messege pt-10 pb-10 mt-10 mb-10"></p>
					</div>

					<!--=======  End of contact form content =======-->
				</div>
			</div>
		</div>
	</div>
    {% include 'home/affiliate.html' %}
{% endblock %}